
.terms-content{
    padding: 5px;
    max-width: 100%;
    width: 80%;
    margin: 0;
    color: #333;
    margin: 0 auto;
    font-family: Proxima Nova, sans-serif;
    font-size: 20px;
    line-height: 50.23px;
    text-align: left;
    margin-bottom: 50%;

}

h2 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    /* text-decoration: underline; */
}
