.footer-container {
  width: 100%;
  background-color: #1D3A6B;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  box-sizing: border-box;
}

.footer-item {
  display: flex;
  flex-direction: column;
  font-family: Proxima Nova, sans-serif;
}

.footer-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-item ul li {
  color: #B3B6B6;
  font-family: Proxima Nova, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  line-height: 50px;
}

footer a {
  text-decoration: none; 
  color: inherit; 
}

footer .footer-item a {
  text-decoration: none;
  color: inherit; 
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  grid-column: span 3; 
  margin-top: 20px;
  font-size: 16px;
  color: white;
}

.footer-prescb {
  line-height: 30.9px;
  color: #B3B6B6;
}





.footer-item h2 {
  margin-bottom: 20px;
  color: white;
}

.footer-item p {
  margin-bottom: 20px;
  color: white;
  margin-top: 30px;
}


.footer-item img{
  height: auto;
  width: 100px;
  margin-top: 7%;
}




/* 4K (3840x2160) */
@media (min-width: 3840px) {
  .footer-grid {
      max-width: 1600px; 
  }
  
}

/* 2K (2560x1440) */
@media (min-width: 2560px) and (max-width: 3839px) {
  .footer-grid {
      max-width: 1100px;
  }
}

@media (max-width: 768px) {
  .footer-container {
      padding: 30px 20px;
  }

  .footer-grid {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
  }

  .footer-item {
    margin-top: 0; 
}

.footer-bottom {
    grid-column: span 1;
}
}
